In [1]:
import pandas as pd
import numpy as np

In [2]:
amazon_data=pd.read_csv('amazon_transaction.csv')

In [3]:
amazon_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [4]:
#remove invalid address
amazon_data['Product'].value_counts().reset_index()
amazon_data=amazon_data[amazon_data['Product']!='Product']

In [5]:
#remove NAN
amazon_data=amazon_data.dropna(how='all')

In [6]:
amazon_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [7]:
def get_city(address):
    return address.split(',')[1].strip(" ")
amazon_data['city']=amazon_data['Purchase Address'].apply(lambda x:f"{get_city(x)}")

In [8]:
amazon_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,city
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",Dallas
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",Boston
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",Los Angeles
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",Los Angeles
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",Los Angeles

In [9]:
Los=amazon_data[amazon_data['city']=='Los Angeles']
df=Los[Los['Order ID'].duplicated(keep=False)]
df['Grouped']=df.groupby('Order ID')['Product'].transform(lambda x:','.join(x))
df2=df[['Order ID','Grouped']].drop_duplicates()

E:\anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,city,Grouped
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",Los Angeles,"Google Phone,Wired Headphones"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",Los Angeles,"Google Phone,Wired Headphones"
18,176574,Google Phone,1,600,04/03/19 19:42,"20 Hill St, Los Angeles, CA 90001",Los Angeles,"Google Phone,USB-C Charging Cable"
19,176574,USB-C Charging Cable,1,11.95,04/03/19 19:42,"20 Hill St, Los Angeles, CA 90001",Los Angeles,"Google Phone,USB-C Charging Cable"
225,176774,Lightning Charging Cable,1,14.95,04/25/19 15:06,"372 Church St, Los Angeles, CA 90001",Los Angeles,"Lightning Charging Cable,USB-C Charging Cable"
...,...,...,...,...,...,...,...,...
186190,258731,Lightning Charging Cable,1,14.95,09/20/19 13:00,"146 Jackson St, Los Angeles, CA 90001",Los Angeles,"iPhone,Lightning Charging Cable"
186369,258903,Apple Airpods Headphones,1,150,09/12/19 10:05,"781 Park St, Los Angeles, CA 90001",Los Angeles,"Apple Airpods Headphones,AAA Batteries (4-pack)"
186370,258903,AAA Batteries (4-pack),2,2.99,09/12/19 10:05,"781 Park St, Los Angeles, CA 90001",Los Angeles,"Apple Airpods Headphones,AAA Batteries (4-pack)"
186431,258963,iPhone,1,700,09/07/19 14:37,"120 Madison St, Los Angeles, CA 90001",Los Angeles,"iPhone,Lightning Charging Cable"
186432,258963,Lightning Charging Cable,1,14.95,09/07/19 14:37,"120 Madison St, Los Angeles, CA 90001",Los Angeles,"iPhone,Lightning Charging Cable"

In [11]:
def makeCombinations(df2):
    dict_count={}
    items=1
    
    for row in df2['Grouped']:
        row_list=row.split(',')
        row_list=list(set(row_list))
        for i in range(0,len(row_list)-items):
            item_pairs=row_list[i:i+items+1]
            item_pairs=tuple(set(item_pairs))
            if(item_pairs in dict_count):
                dict_count[item_pairs]+=1
            else:
                dict_count[item_pairs]=1
    return dict(sorted(dict_count.items(),key=lambda x:x[1],reverse=True))
arr=makeCombinations(df)

In [12]:
def getRecommendation(item_searched):
    found=0
    for k,v in arr.items():
        if(item_searched==k[0]):
            return k
        if(item_searched in list(k) and found==0):
            recommend=k
            found=1
    if(found==1):
        return recommend
    else:
        print('No recommendation found')
print('recommendation',getRecommendation('Google Phone'))

recommendation ('Google Phone', 'USB-C Charging Cable')

In [13]:
from itertools import combinations
from collections import Counter

count=Counter()
for row in df2['Grouped']:
    row_list=row.split(',')
    count.update(Counter(combinations(row_list,2)))
count.most_common(15)

[(('iPhone', 'Lightning Charging Cable'), 149),
 (('Google Phone', 'USB-C Charging Cable'), 142),
 (('Google Phone', 'Wired Headphones'), 69),
 (('iPhone', 'Apple Airpods Headphones'), 61),
 (('iPhone', 'Wired Headphones'), 57),
 (('Vareebadd Phone', 'USB-C Charging Cable'), 38),
 (('Google Phone', 'Bose SoundSport Headphones'), 26),
 (('USB-C Charging Cable', 'Wired Headphones'), 24),
 (('Vareebadd Phone', 'Wired Headphones'), 22),
 (('Vareebadd Phone', 'Bose SoundSport Headphones'), 16),
 (('Lightning Charging Cable', 'Apple Airpods Headphones'), 14),
 (('USB-C Charging Cable', 'Bose SoundSport Headphones'), 12),
 (('Lightning Charging Cable', 'Wired Headphones'), 11),
 (('Apple Airpods Headphones', 'USB-C Charging Cable'), 10),
 (('AAA Batteries (4-pack)', 'AAA Batteries (4-pack)'), 10)]